// -----------------------------------------------------------------------------
// Contact section layout
// -----------------------------------------------------------------------------

.contact {
    background-color: $secondary-color;
    color: $light-grey;

    button {
        width: 100%;
    }
}

@include useBreakpoint(md) {
    .contact {
        button {
            width: fit-content;
        }
    }
}