// -----------------------------------------------------------------------------
// Contact section layout
// -----------------------------------------------------------------------------

.contact {
    background-color: $secondary-color;
    color: $light-grey;

    .form {
        max-width: 800px;
        margin: 5em auto;

        button {
            width: 100%;
        }
    }
}

@include useBreakpoint(md) {
    .contact {
        .form {
            button {
                width: fit-content;
            }
        }
    }
}