// -----------------------------------------------------------------------------
// Project section layout
// -----------------------------------------------------------------------------

.project {
  background-color: $secondary-color;
  .card {
    ul {
      margin-left: 0.5rem;

      li {
        list-style: inside;
      }
    }
  }
}

@include useBreakpoint(xl) {
  .project {
    .card__container {
      margin: 6em 0;

      .card {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
