// -----------------------------------------------------------------------------
// Profile section layout
// -----------------------------------------------------------------------------

.profile {
  background-color: $primary-color;
  color: $light-grey;

  .profile__img {
    display: block;
    width: 250px;
    margin: 0 auto;
  }

  
  .profile__content {
    .profile__btn__modal {
      margin: auto;

      button {
        display: block;
        width: 100%;
      }
    }
  }
}

@include useBreakpoint(sm) {
  .profile__img {
    width: 400px;
    margin: 0 auto;
  }
}

@include useBreakpoint(md) {
  .profile {
    .profile__content {
      .profile__btn__modal {
        margin: 0;
        width: fit-content;
      }
    }
  }
}

@include useBreakpoint(xl) {
  .profile__content {
    display: flex;
    align-items: center;
  }

  .profile__img {
    width: 500px;
    margin: 0 4em 0 0;
  }

  .profile__body {
    max-width: 500px;
    font-size: 1.2rem;
  }
}
