// -----------------------------------------------------------------------------
// Basic site style.
// -----------------------------------------------------------------------------

html {
    scroll-behavior: smooth;

    *, *:before, *:after {
        box-sizing: border-box;
    }

    p, li {
        line-height: 1.5rem;
        margin: 0.5rem 0;
    }

    h1, h2 {
        color: $light-grey;
    }

    body {
        min-width: 320px;
        
        section {
            padding: 2em 10%;
        }

        h1, h2 {
            text-align: center;
        }
    
        .shadow {
            box-shadow: 8px 14px 38px rgb(39 44 49 / 40%), 1px 3px 8px rgb(39 44 49 / 30%);
        }

        .overlay {
            background-color: #2165c1;
            position: absolute; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
        }

        .logo {
            width: 125px;
            height: 75px;
            background-position-x: 50%;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    
        .logo-ds {
            background-image: url(/public/img/logo-donkeyschool.png);
        }
        .logo-lem {
            
            background-image: url(/public/img/logo-lem.png);
        }
    }
}

@include useBreakpoint(sm) {
    html {
        body {
            h1, h2 {
                text-align: left;
            }

            section {
                padding: 5em 20%;

            }
        }
    }
}
